# #Install Options
# #Thu Feb 14 06:00:46 CST 2013
# keystore.file=included
# ri.enabled=false
# messaging.enabled=false
# apia.auth.required=false
# database.jdbcDriverClass=org.postgresql.Driver
# database.postgresql.jdbcDriverClass=org.postgresql.Driver
# upstream.auth.enabled=false
# tomcat.ssl.port=8443
# ssl.available=true
# database.jdbcURL=jdbc\:postgresql\://{{ POSTGRESQL_HOSTNAME }}/{{ FEDORA_DATABASE_NAME }}
# database.username={{ FEDORA_DATABASE_USER }}
# database.password={{ FEDORA_DATABASE_PASSWORD }}
# tomcat.home={{ TOMCAT_HOME }}
# fedora.home={{ FEDORA_HOME }}
# fedora.serverHost={{ FEDORA_HOSTNAME }}
# fedora.admin.pass={{ FEDORA_DATABASE_PASSWORD }}
# database.postgresql.jdbcURL=jdbc\:postgresql\://{{ POSTGRESQL_HOSTNAME }}/{{ FEDORA_DATABASE_NAME }}
# fesl.authz.enabled=false
# tomcat.shutdown.port=8005
# deploy.local.services=true
# database.postgresql.driver=included
# xacml.enabled=true
# tomcat.http.port=8080
# database=postgresql
# database.driver=included
# fedora.serverContext=fedora
# llstore.type=akubra-fs
# servlet.engine=included
# apim.ssl.required=false
# install.type=custom
# apia.ssl.required=false

#Install Options
keystore.file=included
ri.enabled=true
messaging.enabled=true
apia.auth.required=false
database.jdbcDriverClass=org.postgresql.Driver
upstream.auth.enabled=false
ssl.available=false
database.jdbcURL=jdbc\:postgresql\://{{ POSTGRESQL_HOSTNAME }}/{{ FEDORA_DATABASE_NAME }}
messaging.uri=vm\:(broker\:(tcp\://{{ POSTGRESQL_HOSTNAME }}\:61616))
database.username={{ FEDORA_DATABASE_USER }}
database.password={{ FEDORA_DATABASE_PASSWORD }}
fedora.serverHost={{ FEDORA_HOSTNAME }}
fedora.admin.pass={{ FEDORA_DATABASE_PASSWORD }}
tomcat.home={{ TOMCAT_HOME }}
fedora.home={{ FEDORA_HOME }}
database.postgresql.jdbcURL=jdbc\:postgresql\://{{ POSTGRESQL_HOSTNAME }}/{{ FEDORA_DATABASE_NAME }}
database.postgresql.driver=included
fesl.authz.enabled=false
deploy.local.services=false
xacml.enabled=true
database.postgresql.jdbcDriverClass=org.postgresql.Driver
tomcat.http.port=8080
database=postgresql
database.driver=included
fedora.serverContext=fedora
llstore.type=akubra-fs
fesl.authn.enabled=true
install.type=custom
servlet.engine=included
apim.ssl.required=false
apia.ssl.required=false

# ri.enabled=false
# messaging.enabled=false
# ssl.available=true
# deploy.local.services=true
# tomcat.ssl.port=8443
tomcat.shutdown.port=8005
# servlet.engine=existingTomcat
